test.db
test.db-journal
classify.db
classify.db-journal
face.db
coco.db
face.db-journal
coco.db-journal
__pycache__
backend
opencv
opencv_contrib
classification.db
classification.db-journal
folders.db
folders.db-journal
imgdir.txt
*.db
*.db-journal
data.py
face2.onnx
*.txt
food.onnx